/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}

hr {
  border-style: dotted none none none;
  height: 0;
  border-color: #b6bdbd;
  border-width: 6px;
  width: 10%;
  margin: auto;
}

h1 {
  font-size: 5.625rem;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66bfbf;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

a {
  color: #11999e;
  text-decoration: none;
}

p {
  font-family: "Merriweather", serif;
  line-height: 2;
}

section {
  margin: 70px auto 100px auto;
}

/* Header section */
.header {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
  height: 100vh;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 350px;
}

.bottom-cloud {
  position: absolute;
  top: 400px;
  bottom: 300px;
}

/* about me section */

.about-me h2 {
  padding: 20px 0;
}
.about-me p {
  width: 30%;
  margin: auto;
  line-height: 2;
  color: #40514e;
}

/* Skills section */
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-img {
  width: 25%;
}

.designer-img {
  float: left;
  margin-right: 30px;
}

.andriod-img {
  float: right;
  margin-left: 30px;
}

/* Contact me section  */
.contact-me h3 {
  padding: 30px 0;
}

.contact-me p {
  width: 40%;
  margin: 30px auto 60px auto;
}

.contact-btn {
  border-radius: 8px;
  background: linear-gradient(#11cdd4, #11999e);
  color: white;
  padding: 15px 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.contact-btn:hover {
  background: linear-gradient(#30e3cb, #2bc4ad);
}

/* Footer section */
.bottom-container {
  background-color: #66bfbf;
  padding: 60px 0;
  font-family: "Montserrat", sans-serif;
}

.bottom-container a {
  padding: 0 30px;
  font-weight: bold;
}

.bottom-container a:hover {
  color: white;
}

.bottom-container p {
  padding-top: 30px;
  color: #eaf6f6;
}
